*{
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background-color: rgb(223, 222, 222);
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}
.bx {
  font-family: boxicons!important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  font-size: 25px;
  padding-top: 5px;
  color: #636363;
}
.bx.bxs-camera{
  color: black;
}
section{
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  width: 100%;
  position: relative;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.523);
}
input{
  padding: 5px ;
  outline: none;
  background-color: rgb(237, 236, 236);
  border: none;
  border-radius: 3px;
  width: 100%;
  margin-top: 5px;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%; /* Ensure it doesn't overflow the viewport */
  padding: 0 20px; /* Add some padding for mobile devices */
}
.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}
.label-container{
  margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
  width: 125px;
  position: relative;
  margin: auto;
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px outset #2bb32b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.523);
}

.round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}
.update-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin-top: 50px;
}
.update-button{
  cursor: pointer;
  text-align: center;
  border: darkgreen;
  background-color: #00b4ff;
  color: white;
  width: 150px;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 20px;
  font-weight: 600;
  transition: opacity 0.15s;
}
.update-button:hover{
  opacity: 0.8;
}

.cancel-button{
  cursor: pointer;
  text-align: center;
  border: darkgreen;
  background-color: rgb(167, 167, 167);
  color: white;
  width: 150px;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.15s;
}
.cancel-button:hover{
  background-color: rgb(198, 197, 197);
}

@media screen and (max-width: 768px) {
 section{
padding: 10px;
}

  .container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
  }
  .update-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 50px;
  }
}