*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

body{
	background: lightgrey;
	color: var(--text-clr);
	font-size: 16px;
	position: relative;
}
.container{
    position: relative;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin: 3rem;
}
.container .head {
    margin: 0px;
}

.container .head .reminder .remind {
    color: #cb1414;
    font-size: 13px;
    font-style: italic;
}

.container .info{
    font-size:larger; 
}
.container .info .field{
    margin-top: 1rem;
}
.container .info label{
    font-weight: bold;
    margin-top: 1rem;
}
.container .fields {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
  }
.container .fam-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}
.container .fam-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
  }
  
.container img{
    width: 125px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


:root{
	--primary: #6b59d3;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #8577d2;
	--back-btn-hover: #8b8c8c;
}

.wrapper{
	background: rgb(246, 245, 245);
}


.wrapper .header ul{
	display: flex;
}

.wrapper .header ul li{
	margin-right: 50px;
	position: relative;
}

.wrapper .header ul li:last-child{
	margin-right: 0;
}

.wrapper .header ul li:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 55px;
	width: 100%;
	height: 2px;
	background: var(--secondary);
}

.wrapper .header ul li:last-child:before{
	display: none;
}

.wrapper .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header ul li p{
	width: 50px;
	height: 50px;
	background: var(--secondary);
	color: var(--white);
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

.wrapper .header ul li.active:before{
	background: rgb(12, 84, 12);;
}

.wrapper .header ul li.active p{
	background: rgb(12, 84, 12);
}

  
  /* Style the buttons */
  .wrapper .btns_wrap .common_btns button {
	margin-right: 10px;
  }
  


/* ===== Google Font Import - Poppins ===== */


.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
.form-first{
    margin-top: 30px;
}
.form-second{
    margin-top: 30px;
}
.form-third{
    margin-top: 30px;
}
.container .title{
    font-size: 16px;
    font-weight: 500;
    margin: 6px 60px;
    color: #333;
}
.container .fields-info .form{
	border: 1px solid #aaa;
	padding: 5px;
}
.container .fields {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
  }
  .container .fields-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
  }
  
  .container .input-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
  }
	.container .input-file{
		display: flex;    
		margin-bottom: 10px;
	}
  
  .container .input-field label {
	font-size: 15px;
	font-weight: 500;
	color: #2e2e2e;
	margin-bottom: 6px;
  }
  
  .container .input-field input,
  .container .input-field select {
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 8px 15px;
	height: 42px;
	width: 100%;
	margin-top: 4px;
  }
  
  .container .input-field .address-inputs {
		display: grid;
    grid-template-columns: repeat(4, 1fr);
		column-gap: 20px;
  }
	.address-container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		column-gap: 2px;
		
}
.validation-message{
		color: red;
}
.checkbox {
width: 20px; /* Adjust the width as needed */
height: 20px; /* Adjust the height as needed */
margin-right: 20px;
}
  
  .container .input-field .address-inputs input {
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 8px 15px;
	height: 42px;
	margin-right: 10px;
  }
  
  .container .input-field .address-inputs input:last-child {
	margin-right: 0;
  }
  
  
  .input-field input:focus,
  input[type="date"]:focus,
  select:focus {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  }
  
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

    .requirement-label {
        color: #6b59d3;
        cursor: pointer;
				margin-right: 20px;
    }
		.requirement-validation{
			font-style: italic;
		}
    
    .file-input {
        display: none;
		color: blue;
    }
    
    .requirement-label:hover {
			text-decoration: underline;
    }
	
	.input-field.error input,
.input-field.error select {
    border-color: red;
}

.input-field.error label {
    color: red;
}

.input-field.error .address-inputs input {
    border-color: red;
}

.input-field.error .address-inputs input:last-child {
    border-color: red;
}




@media screen and (max-width: 768px) {
	form .fields .input-field{
		width: 100%;
}
	.container .fields {
		display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
	}
	.container .input-field .address-inputs {
		display: grid;
    grid-template-columns: repeat(1, 1fr);
		column-gap: 20px;
  }
	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
}